html {
    background-color: beige;
}

.row {
    border: 5px;
    margin-top: 20px;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  text-align: right;
  font-size: 28px;
  width: 10%;
}

.right {
  width: 80%;
  border-left: outset red;
}

.right h1 {
    font-size: 22px;
}

.right p {
    font-size: 16px;
}